@model CadastroEstabelecimentos.Models.Estabelecimento
@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Detalhes
    </div>
    <div class="card-body">
             <div class="card-text">
            <table>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.RazaoSocial): </td>
                    <td> @Html.DisplayFor(model => model.RazaoSocial)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.NomeFantasia): </td>
                    <td> @Html.DisplayFor(model => model.NomeFantasia)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.CNPJ): </td>
                    <td> @Html.DisplayFor(model => model.CNPJ)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Email): </td>
                    <td> @Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Endereco): </td>
                    <td> @Html.DisplayFor(model => model.Endereco)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Cidade): </td>
                    <td> @Html.DisplayFor(model => model.Cidade)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Estado): </td>
                    <td> @Html.DisplayFor(model => model.Estado)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Telefone): </td>
                    <td> @Html.DisplayFor(model => model.Telefone)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.DataDeCadastro): </td>
                    <td> @Html.DisplayFor(model => model.DataDeCadastro)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Categoria): </td>
                    <td> @Html.DisplayFor(model => model.Categoria)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Status): </td>
                    <td> @Html.DisplayFor(model => model.Status)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Agencia): </td>
                    <td> @Html.DisplayFor(model => model.Agencia)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Conta): </td>
                    <td> @Html.DisplayFor(model => model.Conta)</td>
                </tr>
            </table>
        </div>

    </div>
</div>
<br /><br />

<a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
<a asp-action="Index" class="btn btn-primary">Voltar</a>

