@model IEnumerable<CadastroEstabelecimentos.Models.Estabelecimento>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div style="margin-left:20px;">

        <h4>Estabelecimentos</h4>

        <p>
            <a asp-controller="Estabelecimento" asp-action="Cadastrar" class="btn btn-info">Cadastrar</a>
        </p>
    </div>

<div class="row">


    <div class="col-sm-1"></div>
    <div class="col-md-10">
        <table class="table table-sm table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.RazaoSocial)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.NomeFantasia)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.CNPJ)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Endereco)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Cidade)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Estado)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DataDeCadastro)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Agencia)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Conta)
                    </th>
                    <th scope="col">
                        <span>Opções</span>
                    </th>
                </tr>
            </thead>
            <tbody class="corpo-tabela">
                @foreach (var estabelecimento in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.RazaoSocial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.NomeFantasia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.CNPJ)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.Endereco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.Cidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.Estado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.DataDeCadastro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.Agencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => estabelecimento.Conta)
                        </td>
                        <td>
                            <a asp-action="Detalhes" asp-route-id="@estabelecimento.Id">Detalhes</a>
                            <a asp-action="Editar" asp-route-id="@estabelecimento.Id">Editar</a>
                            <a asp-action="Delete" asp-route-id="@estabelecimento.Id">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-1"></div>
</div>

@section Scripts {
    <script>

    </script>
}